



body {
  margin: 0;
    background-image: url("https://jakesplatform.info/pizza/images/jalapeno.jpg"   ) ;
    color: orange   ;
    
}

#wrapper {
    width: 300px;
    margin: 0 auto;
    }

img{
    width: 300px;
    height: 250px;
}

.back-img {
    background-image: url("https://jakesplatform.info/pizza/images/jalapeno.jpg");
    width: 100%;
    height:200%;
    opacity: .5;
    z-index: 1;
    position: absolute;
}